

html {
  scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
  background-color: #993266;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  
  /* justify-content: center;
  justify-items: center; */
}

/*-------------Helpers-------------*/
.skew {
  transform: skew(-20deg);
}

.un-skew {
  transform: skew(20deg);
}

/*-------------Nav-------------*/
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
}
#nav.nav-visible {
  height: 100%;
  overflow: auto;
}
.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: #f857a8;
  background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
  background: linear-gradient(45deg, #f857a8, #ff5858);
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}
span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}

h1.logo a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #f857a8;
}

a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: #f857a8;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  .nav a:link.active, a:visited.active, a:active.active {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
    background: linear-gradient(45deg, #f857a8, #ff5858);
    color: #fff;
  }

  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }

  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }
  .nav-link:last-child {
    padding-right: 3em;
  }

  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
  }
}
@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}




section{
    margin-top: 100px;
}

.container {
  margin: auto;
  width: 70%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;

  align-items: center;
  text-align: center;

  padding: 10px;
}

#cart-header {
  margin: auto;
  width: 90%;
  height: 15%;
  margin: 10px;
  padding: 10px;

 display: flex;
 justify-content: space-between;
 align-items: center;
}

.heading {
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 700;
  color: #2f3841;
}

#remove-all {
  font-size: 15px;

  color: red;
  cursor: pointer;
  background-color: #555;

  font-family: ‘Open Sans’;
  font-weight: 600;
}

#cart-products {
  width: 50%;
  margin: auto;

  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;

  
}

#cart-products .product {
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  transition: 1s ease-in-out;

  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.product img {
  width: 100px;
  height: 100px;
}

.product-info {
  margin: 5px;
  height: 100%;

  
  font-size: 15px;
}

small {
  color: #555;
  display: block;
  margin-top: 5px;
}

.counter {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin:5px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}
.count {
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
}

.price {
  height: 100%;
  text-align: right;
}
.amount {
  padding-top: 20px;
  font-size: 26px;
  font-family: ‘Open Sans’;
  font-weight: 800;
  color: #202020;
}
.save {
  padding: 5px;
  font-size: 15px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #1687d9;
  cursor: pointer;
}
.remove {
  padding: 5px;
  font-size: 15px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
}

hr{
    width: 66%;
    float: right;
    margin-right: 5%;
   }
   .checkout{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
    
   }
   .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
   }
   .Subtotal{
    font-size: 22px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #202020;
    
   }
   .items{
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
    
   }
   .total-amount{
    font-size: 36px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    
   }

   .checkout-btn{
    margin: 20px;
    width: 50%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #202020;
    
   }
