*{
    padding:0;
    margin:0;
}


header{
    background-image:linear-gradient(grey,black);
    padding: 10px;
    display:flex;
    
}

nav{
    margin: auto;
}

nav a{
    color:coral;
    margin-right:20px;
}

#logo{
    color:tomato;
    font-size:40px;
    text-decoration: none;
    font-family: cursive;
    margin:auto;
}

section{
    background-color:rgb(179, 72, 53);
    height:500px;
    
}

