body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #A95ACD, #FF69B4);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}




  
header {
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 28px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ffcc00;
  }
  

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
input[type="date"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.error {
    color: red;
}

.password-info {
    font-size: 0.8em;
    color: #999;
    display: block;
    margin-top: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}